body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 200px 200px 40% 120px;
    height: 100vh;
    width: 100vw;
    grid-gap:1rem;
    grid-template-areas: 
        'nav nav nav nav'
        'image image image image'
        'sidebar main1 main1 main1'
        'sidebar main2 main2 main2'
        'sidebar footer footer footer'
    ;
}
.navbar{
    background-color: red;
    grid-area: nav;
}
.image{
    background-color: yellow;
    grid-area: image;
}
.sideBar {
    background-color: pink;
    grid-area: sidebar;
}
.main1 {
    background-color: orange;
    grid-area: main1;
}
.main2 {
    background-color: blue;
    grid-area: main2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}
.footer {
    background-color: green;
    grid-area: footer;
}